.header {
    width: 100%;
    height: 6rem;
    /* padding: 40px 10px; */
    /* background-color: var(--primary-color); */
    /* text-align: center; */
    color: rgb(253, 253, 253);
    font-size: medium;
}

/* .secondaryColor {
    color: var(--secondary-color);
} */

.logo {
    width: 8rem;
    height: 4rem;
}

.searchItem {
    margin: 1%;
    width: 50%;
    height: 10px;
}
/* 
.button {
    background-color: white;
    color: rgb(53, 86, 194);
    border: 2px solid #e7e7e7;
    width: 8rem;
    height: 3rem;
    font-size: medium;
  }
  
.button:hover {background-color: #e7e7e7;} */

.link {
    width: 8rem;
    height: 5rem;
    font-size: medium;
    color:deeppink;
    font-style: normal;
}