.main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    top: 0;
    position: relative;
    padding-bottom: 80px;
    margin-top: 100px;
}

.nothingToSee{
    text-align: left;
    padding-top:100px;
    font-weight: 300;
}
