.main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    text-align: center;
}

.decoration {
    animation: rotate 2000ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

.g-4 {
    background-color: blue;
    
}