.musicPlayerFooter{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 80px;
    background-color: #282a357e;
    padding: 0;
    display: flex;
    animation: inAnimation 500ms ease-in-out;
    /* transition: all 3.5s ease; */
}

.player{
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    /* transform: translateY(); */
    /* transition: all 3.5s ease; */
}

.ah{
    background-color: #282A35;
}

@keyframes inAnimation {
    from {

        /* visibility: hidden; */
        transform: translateY(100%);
    }
    to {

        /* visibility: visible; */
        transform: translateY(0);
    }
}

@keyframes outAnimation {
    from {

        transform: translateY(-100%);
    }

    100% {

        transform: translateY(0);
    }
}