.coverImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.playerGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}