.coverImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.playerGridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

