:root {
    --primary-color: #1a3755;
    --secondary-color: #d7d149;
    --complementary-color: #edf2f6;
    --button-hover-color: #537ba4;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 400 1.25rem/1.4 'Poppins', Helvetica, Arial, sans-serif;
}

body > #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 600;
}

input, button {
    border-radius: 0;
    border: 1px solid #000000;
    padding: 3px;

    height: 30px;
}

input:focus {
    outline: none;
    border: 1px solid var(--button-hover-color);
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}


