:root {
    --primary-color: black;
    --secondary-color: #212121 ;
    --complementary-color: #aab6fe;
    --button-hover-color: rgb(255, 208, 0);

    font-size: 80%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 400 2rem/1.4 'Poppins', Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
}

body > #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 600;
}
.main {
    width: 100%;
    text-align: center;
    margin: auto;
}



